<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">
    <!--定义所有的appender -->
    <appenders>
        <!--这个输出控制台的配置
            target="SYSTEM_OUT 默认黑色字体，
            target="SYSTEM_ERR 设置红色字体-->
        <console name="consoleAppender" target="SYSTEM_ERR">
            <!--输出日志的格式 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.sss} [%-5level] %c %M %L %thread %m%n" />
        </console>
        <RollingFile name="log_all" fileName="log_all.log" filePattern="log_all-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.sss} [%-5level] %c %M %L %thread %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
    <loggers>
        <root level="info">
            <appender-ref ref="consoleAppender" />
            <appender-ref ref="log_all" />
        </root>
    </loggers>
</configuration>